@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  overscroll-behavior: none;
}

